.reset-page {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.reset-page .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 1000%;
    padding: 1em;
    max-width: 380px;
}

.reset-page::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: var(--overlay-color);
    z-index: -1;
}

.reset-page .header {
    width: 100%;
    text-align: center;

}

.reset-page .header h1 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 2.3rem;
    letter-spacing: -1px;
}

.reset-page .header h3 {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-transform: uppercase;
    word-spacing: 1px;
}

.reset-page .logo {
    width: 80px;
    height: 80px;
    margin-inline: auto;
    border: 2px solid black;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    filter: drop-shadow(0px 1px 3px #c6c6c6);
}

.reset-page .logo img {
    height: 100%;
    border-radius: 50%;
}

.reset-form {
    width: 100%;
}

.reset-form .form-control {
    margin-bottom: 30px;
}

.reset-form .form-control label {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.reset-form .form-control label span {
    font-size: 18px;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.reset-form .form-control input {
    width: 100%;
    padding: 10px 15px 10px 10px;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.reset-page .btns-container {
    display: flex;
    flex-direction: column;
}

.reset-page .btn {
    padding: 10px 0;
    margin-bottom: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: var(--btn-color);
    color: whitesmoke;
    text-transform: capitalize;
    text-align: center;
}