.requests .recentRequests table tbody tr {
    color: var(--black1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.requests .recentRequests table tr:last-child {
    border-bottom: none;
}

.requests .recentRequests table tr:hover {
    background: var(--brown);
    color: var(--white);
}

.requests .recentRequests table tr td {
    padding: 10px;
}

.requests .recentRequests table tr td:last-child {
    text-align: end;
}

.requests .recentRequests table tr td:nth-child(2) {
    text-align: end;
}

.requests .recentRequests table tr td:nth-child(3) {
    text-align: center;
}