.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.loader::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    top: 0;
    left: 0;
    z-index: -1;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    animation: spin 1s linear infinite;
    stroke: rgb(225, 229, 236);
}

.loading-text {
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 500;
    color: rgb(217, 221, 229);
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}