.requests .recentRequests {
    position: relative;
    display: flex;
    min-height: 500px;
    flex-direction: column;
    background: var(--white);
    padding: 20px;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
}

.requests .cardHeader {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.cardHeader h2 {
    font-weight: 600;
    color: var(--brown);
}

.cardHeader .btn {
    position: relative;
    padding: 5px 10px;
    background: var(--brown);
    text-decoration: none;
    color: var(--white);
    border-radius: 6px;
}