.user-card {
    width: 100%;
    max-width: 450px;
    padding: 2rem 3rem;
}

.user-card .content {
    display: flex;
    flex-direction: column;
}

.user-card .content .header,
.user-card .content .body {
    width: 100%;
}

.user-card .content .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-card .content .header .status{
    text-align: left;
    flex-basis: 1;
}

.header .status .state {
    margin-top: 20px;
    color: red;
    text-transform: uppercase;
    display: inline-block;
}

.header .status .state.active {
    color: green;
}

.user-card .content .header .basic-info {
    flex-basis: 2;
}

.user-card .content .header .basic-info h3 {
    margin-bottom: 20px;
    letter-spacing: 1px;
    font-size: 1.3em;
    text-transform: uppercase;
}

.user-card .content .header .basic-info p {
    font-size: 1rem;
}

.header .basic-info p .title {
    font-size: 1.1rem;
    display: inline-block;
    margin-right: 10px;
    color: var(--special-color);
}

.user-card .data-field {
    padding: 0.5rem;
}

.user-card .data-field h3 {
    color: #ea4c89;
    margin-bottom: 5px;
}

.user-card .data-field p {
    color: #dadae8;
}


.header .basic-info p .firstName, .header .basic-info p .middleName {
    font-size: 1rem;
    display: inline-block;
    margin-right: 10px;
}




.user-card .content .body {
    display: flex;
    justify-content: space-between;
}

.user-card .content .footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.user-card .content .footer h4 {
    color: #ea4c89;
}

.user-card .content .footer .lead {
    font-size: 13px;
    margin-top: 10px;
    color: rgb(148, 135, 135);
}